---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - llm.example.com
  resources:
  - llminferencejobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - llm.example.com
  resources:
  - llminferencejobs/finalizers
  verbs:
  - update
- apiGroups:
  - llm.example.com
  resources:
  - llminferencejobs/status
  verbs:
  - get
  - patch
  - update
