---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - llm.example.com
  resources:
  - inferenceservices
  - kvcachepools
  - llminferencejobs
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - llm.example.com
  resources:
  - inferenceservices/finalizers
  - kvcachepools/finalizers
  - llminferencejobs/finalizers
  verbs:
  - update
- apiGroups:
  - llm.example.com
  resources:
  - inferenceservices/status
  - kvcachepools/status
  - llminferencejobs/status
  verbs:
  - get
  - patch
  - update
